@media(min-width:320px) {
    .contenedor-form {
        border: 1px solid $color3;
        background-color: $color2;
        padding: 20px 0px;
        margin-top: 10px;

        .contenedor-form__card {
            padding: 0px 20px;
            color: $color4;

            img {
                width: 80%;
                margin-bottom: 5px;
            }

            .button-green {
                width: 80px;
                font-size: 12px;
                height: 16px;
                margin-left: 10px;

            }

            
        }

        form {

            input,
            select,
            textarea {
                border: 0;
                border-radius: 3px;

                &:focus {
                    outline: 0;
                }

                font-family: 'sans-serif';
                font-weight: 100;
            }

            label {
                margin-top: 5px;
            }

            [placeholder] {
                padding-left: 5px;
            }

            [type=button],
            [type=submit],
            [type=reset] {
                background-color: $color3;
                border: none;
                box-shadow: 0px 0px 2px black;
            }
        }
    }
}

@media(min-width:768px) {
    .contenedor-form {
        margin-top: 30px;
        border-radius: 10px;
        .contenedor-form__card {
            border: 1px solid $color3;
            border-radius: 8px;

            img {
                padding-top: 25px;
            }
            p {
                margin: 0;
            }

            ul {
                list-style: none;
                width: 90%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border: 1px solid $color3;
                padding: 10px 0px;
                background-color: $color3;
                border-radius: 4px;
                margin-bottom: 25px;

                i {
                    font-size: 30px;
                    color: black;
                    opacity: 0.6;
                    padding-top: 5px;

                }
            }
        }

        form {

            input,
            select,
            textarea {
                border: 0;
                border-radius: 3px;

                &:focus {
                    outline: 0;
                }

                font-family: 'sans-serif';
                font-weight: 100;
            }

            label {
                margin-top: 5px;
            }

            [placeholder] {
                padding-left: 5px;
            }

            [type=button],
            [type=submit],
            [type=reset] {
                background-color: $color3;
                border: none;
                box-shadow: 0px 0px 2px black;
            }
        }
    }
}