.CyT_titulo {
    background-color: $color2;
}

.sec_central_escuela_parrafo {
    .line {
        width: 50%;
    }
}

.portada_escuela {
    .kyomu-logo-text {
        font-size: 50px;

        @media (min-width:320px) {
            font-size: 25px;
        }

        @media (min-width:576px) {
            font-size: 35px;
        }

        @media (min-width:768px) {
            font-size: 50px;
        }
    }

    img {
        width: 45%;
        margin-bottom: -1%;
    }
}

.up-foot {
    hr {
        margin: 10px;
    }

    p {
        margin: 0;

        a {
            color: $color1;
            text-decoration: none;
        }

    }
}