$color1 : #52633b;
$color2 : #aca49a;
$color3 : #908b83;
$color4 : #ebebeb;
$fontdekiru :'dekiru',
'sans-serif';
$card-cursos-slide : (
    displey:flex,
    direccion:column,
    justificado:space-evenly,
    alineado:center,
    ancho:100%,
    alto:100%,
    colorr:black,
    paddingg:10%,
    alineado-texto:center,
);

$justify:(
    center:center,
    start:start,      
    end:end,
    evenly:evenly,
    around:around);

$align: (
    center,
     start,
      end);
