@import url('http://fonts.cdnfonts.com/css/mager');
@import url('http://fonts.cdnfonts.com/css/dekiru');
@import url('http://fonts.cdnfonts.com/css/nrt-reg');
@import url('http://fonts.cdnfonts.com/css/adam');
@import "_variables";
@import "_nav";
@import "_inicio";
@import "_footer";
@import "_slider-nosotros";
@import "_nosotros";
@import "_button";
@import "_escuela";
@import "_tienda";
@import "_contacto";
@import "_mediaquery";
@import "_slider-escuela";
@import "_animaciones";
@import "_mixins";
@import "_grid";


* {
    margin: 0;
    padding: 0;
    font-family: 'Mager', sans-serif;
    font-weight: lighter;
    box-sizing: border-box;
}

body {
    background-color: $color4;
    border: 1px solid rgba(172, 164, 154, 0.284);
    user-select: none;
}

.kyomu-logo-text {
    font-family: 'dekiru', sans-serif;
    color: $color1;
    font-size: 20px;

    span {
        font-family: inherit;
        margin-left: -5px;
    }
}